{% extends 'base.html.twig' %}

{% block title %}Edit Soutenance{% endblock %}

{% block body %}
    <h2 style="text-align:center;margin-bottom:50px;">Modifier un Soutenance</h2>

    {{ include('soutenance/_form.html.twig', {'button_label': 'Update'}) }}

    <button style="margin-left:625px;transform: translate(0px,-38px);" class="btn btn-success"><a style="color:black;text-decoration:none" href="{{ path('app_soutenance_index') }}">back to list</button>

    {{ include('soutenance/_delete_form.html.twig') }}
{% endblock %}
