{% extends 'base.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
<h2 style="padding-bottom: 25px;text-align:center;">Ajouter un nouveau Enseignant</h2>

    {{ include('enseignant/_form.html.twig') }}

    <button style="margin-left:600px;transform: translate(0px,-38px);" class="btn btn-success"><a style="color:black;text-decoration:none" href="{{ path('app_enseignant_index') }}">back to list</a></button>
{% endblock %}
